<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>ANSI BSR-9 Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/bootstrap-switch.min.css" rel="stylesheet">
<link href="css/bootstrap-select.min.css" rel="stylesheet">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
      <![endif]-->
<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="img/favicon.png">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
<script type="text/javascript" src="js/bootstrap-switch.min.js"></script>
<script type="text/javascript" src="js/bootstrap-select.min.js"></script>
</head>
<body>
<br>
<br>
<div class="container workspace-projects-groups">
  <div> <br>
    header stuff from wrapper <br>
    <br>
    <br>
  </div>
  <nav role="navigation" class="navbar navbar-inverse">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    </div>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="kavi-full-wrapper.html">Communities</a></li>
        <li><a href="#">Network</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Browse</a></li>
        <li><a href="#">Participate</a></li>
        <li class="active"><a href="kavi-projects.html">Projects</a></li>
      </ul>
    </div>
  </nav>
  <div class="row detail">
    <div class="col-md-12">
      <h2>WEB BSR-9 FORM: American National Standard (ANS) Formal Submittal Checklist</h2>
      <h3>Please Note</h3>
      <div class="indent-section">
        <p>This document is used to transmit the final submittal of a candidate American National Standard to ANSI. A standard should only be submitted to ANSI for approval if all of the appropriate evidence of consensus accompanies it in accordance with the ANSI Essential Requirements: Due process requirements for American National Standards (ANSI Essential Requirements.) *NOTE: Adoptions of ISO or IEC standards require compliance with the ANSI Policy Regarding Rights to Nationally Adopt IEC and ISO Standards or Otherwise Use IEC and ISO Material and the ANSI Procedures for the Adoption of ISO and IEC Standards as American National Standards. Submittal of a standard for approval under the Stabilized Maintenance option requires use of a different form. When a BSR-9 is successfully received by ANSI, an acknowledgement is sent to the submitter. If you do not receive one, please contact psa@ansi.org.</p>
        <br>
      </div>
      <h3>Project Information</h3>
      <div class="indent-section">
        <div class="form-group required">
          <label for="putIDhere" class="control-label">1. Designation of Standard</label>
          <input class="form-control" id="putIDhere" value="">
        </div>
        <div class="indent-section">
          <div class="form-group required">
            <label for="putIDhere" class="control-label">1a. Year that should be included in the designation, if other than the year of approval as an ANS</label>
            <div class="row">
              <div class="col-md-12 no-pad ">
                <div class="form-group">
                  <div class="input-group" style="width: 200px">
                    <input class="form-control short" id="exampleInputEmail1" placeholder="08/01/2015"  value="08/01/2015"/ >
                    <span class="input-group-addon"> <span class="glyphicon-calendar glyphicon"></span> </span> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group required">
          <label for="putIDhere" class="control-label">2. Title of Standard</label>
          <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group required">
          <label for="putIDhere" class="control-label">3. Project Intent (relates to the status of the standard in terms of ANSI only, e.g., any standard that is not an approved ANS is a new standard)</label>
          <select class="form-control" style="width:820px;" placeholder="choose...">
            <option value="">--Select One--</option>
            <option selected="selected" value="Create new ANS"> Create new ANS </option>
            <option value="Adopt identical ISO or IEC standard"> Adopt identical ISO or IEC standard </option>
            <option value="Adopt identical ISO or IEC standard AND this adoption revises this current ANS"> Adopt identical ISO or IEC standard AND this adoption revises this current ANS </option>
            <option value="Adopt modified ISO or IEC standard"> Adopt modified ISO or IEC standard </option>
            <option value="Adopt modified ISO or IEC standard AND this adoption revises this current ANS"> Adopt modified ISO or IEC standard AND this adoption revises this current ANS </option>
            <option value="Revise current ANS"> Revise current ANS </option>
            <option value="Revise and Redesignate current ANS"> Revise and Redesignate current ANS </option>
            <option value="Revise, Redesignate and Consolidate current ANS"> Revise, Redesignate and Consolidate current ANS </option>
            <option value="Revise and Partition current ANS"> Revise and Partition current ANS </option>
            <option value="Reaffirm current ANS"> Reaffirm current ANS </option>
            <option value="Reaffirm and Redesignate current ANS"> Reaffirm and Redesignate current ANS </option>
            <option value="Supplement to a current ANS"> Supplement to a current ANS </option>
            <option value="Addenda to a current ANS under Continuous Maintenance: (this document relates to/updates the following base document that is registered under Continuous Maintenance)"> Addenda to a current ANS under Continuous Maintenance: (this document relates to/updates the following base document that is registered under Continuous Maintenance) </option>
            <option value="Withdraw current ANS"> Withdraw current ANS </option>
          </select>
        </div>
      </div>
      <br>
      <h3>Consensus Group Information</h3>
      <div class="indent-section">
        <div class="form-group required">
          <label for="putIDhere" class="control-label">Select Consensus Ballot</label>
          <select style="width:820px;" class="form-control" title="Select Consensus Ballot" id="consensus_ballot_select" name="consensus_ballot">
            <option value="">--Select One--</option>
          </select>
          <p style="padding-top:5px;"> &nbsp;<span class="alert-info">Note:</span> To select a Consensus Ballot please select a group to act as the Consensus Body for this project.</p>
        </div>
        <div class="form-group required">
          <label for="putIDhere" class="control-label">4. Attach consensus body roster including interest category of each member and vote. (See ANSI Essential Requirements 4.2.1.1.) </label>
        </div>
        <div class="form-group required">
          <label for="putIDhere" class="control-label">5. Identify the group that is considered to be the consensus body and whose vote is included in item 13 below</label>
          <div class="indent-section">
            <div class="alert alert-warning">
              <p><strong>Consensus body not set</strong></p>
              <p>To set a consensus body, <a>edit the details</a> for this project, add Contributing Groups if necessary, and select a group in the Consensus Body section.</p>
            </div>
          </div>
        </div>
        <div class="form-group required">
          <label for="putIDhere" class="control-label">6. Balance</label>
          <p>The ANSI Essential Requirements (see 1.3, 2.3) state that participants from diverse interest categories shall be sought with the objective of achieving balance on a consensus body. If the consensus body associated with this submittal appears to lack balance as described in the Essential Requirements, please attach evidence or an explanation of outreach efforts undertaken to achieve balance. Note that if the consensus body appears to lack balance, the ANSI BSR will request evidence of outreach if it is not provided with the BSR-9 and thus, the approval process will be delayed. </p>
          <p> Is the evidence attached? </p>
          <label class="radio-inline">
            <input type="radio" id="" value="option1">
            Yes </label>
          <label class="radio-inline">
            <input type="radio" id="" value="option2" checked>
            No </label>
          <label class="radio-inline">
            <input type="radio" id="3" value="option3">
            Not Applicable </label>
        </div>
        <div class="indent-section">
          <div class="well well-default"> <a class="btn btn-primary">Attach Evidence</a><br>
            <br>
            <p style="padding-top:5px;"> &nbsp;<span class="alert-info">Note:</span> To attach a document as evidence please select a group to act as the Consensus Body for this project.</p>
          </div>
        </div>
      </div>
      <br>
      <h3>Public Notice</h3>
      <div class="indent-section">
        <div class="form-group required">
          <label for="putIDhere" class="control-label">7. Did a PINS deliberation take place in connection with this standard See ANSI Essential Requirements 2.5)? </label>
          <p>If yes, attach a copy of the required PINS deliberation report(s).</p>
          <label class="radio-inline">
            <input type="radio" id="" value="option1">
            Yes </label>
          <label class="radio-inline">
            <input type="radio" id="" value="option2" checked>
            No </label>
          <label class="radio-inline">
            <input type="radio" id="3" value="option3">
            Not Applicable </label>
        </div>
        <div class="indent-section">
          <div class="well well-default"> <a class="btn btn-primary">Attach Evidence</a><br>
            <br>
            <p style="padding-top:5px;"> &nbsp;<span class="alert-info">Note:</span> To attach a document as evidence please select a group to act as the Consensus Body for this project.</p>
          </div>
        </div>
        <div class="form-group required">
          <label for="putIDhere" class="control-label">8. Indicate the total number of unresolved objections to the proposed action on the standard resulting from all public review period(s) only, including ANSI Standards Action. Attach evidence of attempted resolution. </label>
          <input class="form-control" id="putIDhere" value="">
          <p style="padding-top:5px;"> &nbsp;<span class="alert-info">Note:</span> (See ANSI Essential Requirements 2.6) Do not include unresolved votes of consensus body members here unless the member also submitted public review comments. Use item 13 to report consensus body votes. </p>
        </div>
        <div class="indent-section">
          <div class="well well-default"> <a class="btn btn-primary">Attach Evidence</a><br>
            <br>
            <p style="padding-top:5px;"> &nbsp;<span class="alert-info">Note:</span> To attach a document as evidence please select a group to act as the Consensus Body for this project.</p>
          </div>
        </div>
        <div class="form-group required">
          <label for="putIDhere" class="control-label">10. Were all unresolved objectors informed in writing of their right to appeal to the standards developer? Attach documentation of written notification of the right to appeal to standards developer. (See ANSI Essential Requirements 2.6)</label>
          <label class="radio-inline">
            <input type="radio" id="" value="option1">
            Yes </label>
          <label class="radio-inline">
            <input type="radio" id="" value="option2" checked>
            No </label>
          <label class="radio-inline">
            <input type="radio" id="3" value="option3">
            Not Applicable </label>
          <div class="indent-section">
            <p style="padding-top:10px;"> If not applicable, state why:</p>
            <textarea class="form-control" rows="3"></textarea>
          </div>
        </div>
        <div class="indent-section">
          <div class="well well-default"> <a class="btn btn-primary">Attach Evidence</a><br>
            <br>
            <p style="padding-top:5px;"> &nbsp;<span class="alert-info">Note:</span> To attach a document as evidence please select a group to act as the Consensus Body for this project.</p>
          </div>
        </div>
        <div class="form-group required">
          <label for="putIDhere" class="control-label">11. Did any unresolved objectors complete the appeals process available through the standards developer? (See ANSI Essential Requirements 2.8)</label>
          <label class="radio-inline">
            <input type="radio" id="" value="option1">
            Yes (Attach name and contact information for each.) </label>
          <label class="radio-inline">
            <input type="radio" id="" value="option2" checked>
            No </label>
          <label class="radio-inline">
            <input type="radio" id="3" value="option3">
            Not Applicable </label>
        </div>
        <div class="indent-section">
          <div class="well well-default"> <a class="btn btn-primary">Attach Evidence</a><br>
            <br>
            <p style="padding-top:5px;"> &nbsp;<span class="alert-info">Note:</span> To attach a document as evidence please select a group to act as the Consensus Body for this project.</p>
          </div>
        </div>
      </div>
      <br>
      <h3>Consensus Ballot</h3>
      <div class="indent-section">
        <div class="form-group ">
          <label for="putIDhere" class="control-label">12. Date of Final Consensus Body Vote (i.e., date the final vote was closed).</label>
          <div class="input-group" style="width: 200px">
            <input class="form-control short" id="exampleInputEmail1" placeholder="08/01/2015"  value="08/01/2015"/ >
            <span class="input-group-addon"> <span class="glyphicon-calendar glyphicon"></span> </span> </div>
        </div>
        <div class="form-group ">
          <label for="putIDhere" class="control-label">13. Evidence of Consensus, i.e., the FINAL consensus body vote tally (See ANSI Essential Requirements 2.7)</label>
        </div>
        <div class="form-group required">
          <label for="putIDhere" class="control-label">14. State the applicable numerical requirements for consensus as established in your organization's ANSI-accredited procedures.</label>
          <textarea class="form-control" rows="3"></textarea>
          <div class="indent-section">
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox1" value="option1">
              Check here to certify that these requirements have been satisfied. </label>
          </div>
        </div>
        <div class="form-group required">
          <label for="putIDhere" class="control-label">15. Publication of an ANS is required within 6 months of the date of its approval as such. To request ANSI to provide publication services, please contact the ANSI Publications Department.</label>
        </div>
        <div class="form-group required">
          <label class="checkbox-inline">
          <label for="putIDhere" class="control-label">16. Check here if statements from patent holders (patent letters of assurance) have been received regarding this proposed ANS.</label>
          <input type="checkbox" id="inlineCheckbox1" value="option1">
          </label>
        </div>
        <div class="indent-section">
          <div class="well well-default"> <a class="btn btn-primary">Attach Evidence</a><br>
            <br>
            <p style="padding-top:5px;"> &nbsp;<span class="alert-info">Note:</span> To attach a document as evidence please select a group to act as the Consensus Body for this project.</p>
          </div>
        </div>
        <div class="form-group required">
          <label for="putIDhere" class="control-label">17. Certification Statement: Please read and confirm compliance before signing and submitting to ANSI.</label>
          <br>
          <br>
          <div class="indent-section">
            <div class="well well-default">
              <p style="padding-top:5px;"> I hereby declare the ANSI criteria for approval/withdrawal have been met and that the draft standard was acted on in accordance with section 4.2, Criteria for Approval and Withdrawal of American National Standards of the ANSI Essential Requirements and the following criteria and that evidence to this effect is enclosed or otherwise available for inspection: </p>
              <ul id="pjct_form_ul">
                <li>That due process requirements were met.</li>
                <li>That the standard is within the scope previously registered with ANSI.</li>
                <li>That any identified significant conflict with another American National Standard was addressed in accordance with the requirements set-forth in the ANSI Essential Requirements.</li>
                <li>That other known national standards were examined with regard to harmonization and duplication of content; if duplication exists, there is a compelling need for the standard.</li>
                <li>That objectors have been notified in writing of their right to appeal to the standards developer and that all appeals to the standards developer were completed.</li>
                <li>That any known unresolved objection as defined in the ANSI Essential Requirements to the approval/withdrawal of this standard as an American National Standard is documented herein.</li>
                <li>That no substantive changes have been made in the draft standard as listed in Standards Action.</li>
                <li>That we agree to comply fully with the ANSI Patent Policy.</li>
                <li>That we agree to comply with the Commercial Terms and Conditions provision contained in the ANSI Essential Requirements.</li>
              </ul>
              <p>I agree that the evidence supporting any statement in this submittal or its attachments may be verified at any time through inspection or audit by the American National Standards Institute, either on its own initiative or upon appeal or request by any substantially concerned party.  Reasonable requests for specific information that we receive directly from substantially concerned parties will be honored.</p>
              <p>If it develops that misstatements of fact have been made in connection with this submittal, I understand that the standard in question is subject to withdrawal with appropriate public notice with reasons therefor.  Furthermore, I understand that our organization may be subject to disqualification for a period of time or withdrawal of accreditation for improper submission of a standard to the Board of Standards Review.</p>
              <p>Our organization agrees to maintain the American National Standard by reaffirmation, revision, or withdrawal within five years of the date of ANSI approval.</p>
              <hr>
              <div class="form-group required">
                <label for="putIDhere" class="control-label">Submitter's Name</label>
                <input class="form-control" id="putIDhere" value="">
              </div>
              <div class="form-group required">
                <label for="putIDhere" class="control-label">Title</label>
                <input class="form-control" id="putIDhere" value="">
              </div>
              <div class="form-group required">
                <label for="putIDhere" class="control-label">Accredited Standards Developer</label>
                <input class="form-control" id="putIDhere" value="">
              </div>
              <div class="form-group required">
                <label for="putIDhere" class="control-label">Address</label>
                <input class="form-control" id="putIDhere" value="">
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group required">
                    <label for="putIDhere" class="control-label">City</label>
                    <input class="form-control" id="putIDhere" value="">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group required">
                    <label for="putIDhere" class="control-label">State</label>
                    <input class="form-control" id="putIDhere" value="">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group required">
                    <label for="putIDhere" class="control-label">Zip </label>
                    <input class="form-control" id="putIDhere" value="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group required">
                    <label for="putIDhere" class="control-label">Email / Signature</label>
                    <input class="form-control" id="putIDhere" value="">
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12"> <a class="btn btn-primary" role="button" href="kavi-projects-detail.html">Save</a> <a class="btn btn-primary" role="button" href="kavi-projects-detail.html">Submit to ANSI</a>&nbsp; <a class="btn btn-default" role="button" href="kavi-projects-detail.html">Cancel</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
